@import "../../global.scss";

.contact{
  background-color: white;
  display: flex;

  @include mobile{
    flex-direction: column;
  }


  .left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h2{
      font-family: $titlefont;
    }

    form{
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      @include mobile{
        width: 80%;
        padding:10px;
        height: 100%;
      }

      // @include desktop{
      //   width: 70%;
      //   padding:10px;
      // }

 

      input{
        width: 300px;
        height: 30px;
        font-size: 14px;
        border: 3px solid black;
        border-radius: 5px;

          @include mobile{
            width: 80%; 
          }
          @include desktop{
            width: 70%;
            padding:10px;
          }

  
      }

      textarea{
        width:  300px;
        height: 200px;
        font-size: 14px;
        border: 3px solid black;
        border-radius: 5px;
          @include mobile{
            width: 80%
          }
          @include desktop{
            width: 70%;
            padding:10px;
          }
    
      }

      button{
        width: 150px;
        height: 50px;
        color: white;
        background-color: black;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        &:focus{
          outline: none;
        }
      }

      span{
        color: green;
      }
    }
  }

  .right{
    flex: 1;
    display: flex;
    justify-content: center;

      @include mobile{
        flex:.5;
      }   

    .image--container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

        @include mobile{
          width:100%;
          justify-content: center;
          height: 80%;
        }
      
      .image--con{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 65%;
        
        // @include mobile{
        //   width:50%;
        //   justify-content: center;
        //   height: 60%;
        // }

      }
      a{
        height: inherit;
        width:inherit;
        justify-content: center;
        overflow: hidden;
      }  
     
      img{
        height: 90%;
        width: 90%;
        transition: box-shadow .3s;
       
       

      }

      img:hover {
        border-radius: 25px;
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
      }

      img:hover::after {
        opacity: 1;
      }
    }
   
   
  }
}